[user]
	name = Lukas Nickel
	email = lukas.nickel@tu-dortmund.de
[rebase]
	stat = true
[merge]
	conflictstyle = diff3
[core]
    editor = nvim
    excludesfile = /home/lukas/.gitignore_global
[pull]
	rebase = false
[diff]
	tool = vimdiff
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
